*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: .8rem;
  padding: 0 2rem;
}

.header {
  padding-top: 1.5rem;
  height: 80px;
}

.header__left {
  width: 900px;
  float: left;
  display: flex;
  align-items: center;
}

.header img {
  width: 100px;
}

.header__search {
  display: inline-block;
  width: 40rem;
  height: 2.8rem;
  border-radius: 25px;
  margin: 0rem 4rem;
  padding-left: 1.1rem;
  border: 1px solid rgba(194, 194, 194, 0.493);;
}

.header__search-bar {
  width: 88%;
  border: 0;
  height: 100%;
  padding-left: .3rem;
  margin: 0 .5rem;
  line-height: 224%;
}

.fa {
  font-size: 1rem;
}

.fa-search {
  margin-left: .7rem;
  color: blue;
}

.header__search-bar:focus {
  outline: none;
}

.header__search:hover {
  box-shadow: .1px .1px 3.4px rgba(0, 0, 0, 0.397)
}

.header__right {
  width: 200px;
  height: 50px;
  float: right;
}

.header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header__list img {
  width: 32px;
  padding-top: .2rem;
}

.header__item {
  list-style: none;
  margin-left: 1rem;

}

.header__link {
  display: inline-block;
  position: relative;
}

.header__link:hover .header__back {
  opacity: 1;
}

.header__back {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(236, 236, 236, 0.733);
  border-radius: 50%;
  z-index: -2;
  opacity: 0;
}

.header__nine-dots {
  display: inline-grid;
  grid-template-columns: repeat(3, 6px);
  grid-template-rows: repeat(3, 6px);
  justify-content: center;
  align-content: center;
  padding-bottom: .4rem;
}

.header__nine-dots div {
  width: 4px;
  height: 4px;
  background-color: rgb(43, 43, 43);
  border-radius: 50%;
}


.header__profile {
  border-radius: 50%;
}

.navbar {
  width: 630px;
  height: 42px;
  margin-left: 160px;
  display: flex;
  color: #5f6368;
  font-weight: 400;
}

.navbar__box {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar__box i {
  margin: 0 .5rem;
  color: #5f6368;
}
.navbar__title {
  margin-right: 1rem;
}
.active {
  border-bottom: 3px solid blue;
  color: blue;
}

.navbar__right {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.navbar__right p {
  padding: .7rem;
  border: 1px solid transparent;
}

.navbar__right p:last-child:hover {
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  border-radius: 2px;
  border: 1px solid #c6c6c6;
}

.container {
  width: 100%;
  height: 700px;
  background-color: skyblue;
}